# Brew update
alias update="brew update && brew outdated && brew upgrade && brew cleanup"

# Reload the shell (i.e. invoke as a login shell)
alias reload="source ~/.zshrc"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias qpdfcompress='qpdf --stream-data=compress --object-streams=generate $1 -'


# alias ls=' exa'
# alias l=' exa -l'
# alias ll=' exa -lT --level 2'
# alias lll=' exa -lT --level 3'

# alias lrt=' exa -l --icons --sort newest'
# alias lart=' exa -la --icons --sort newest'

# # Show history with timestamp
# alias h=' fc -il 1'

# # Enable aliases to be sudo’ed
# # alias sudo='sudo '

# # Show/hide hidden files in Finder
# alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
# alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# # Show/hide all desktop icons (useful when presenting)
# alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
# alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"

# # Lock the screen (when going AFK)
# alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# # Backup
# alias backup='rsync -ahvP --exclude=".DS_Store"'



# # Print each PATH entry on a separate line
# alias path='echo -e ${PATH//:/\\n}'

# # Copy pubkey to pasteboard
# alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"

# alias mp4="youtube-dl -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/mp4'"
# alias mp3="youtube-dl -x --audio-format mp3"
